<section class='videoMoto'>
  <video
    data-src='./assets/videoMoto/motoVideo.mp4'
    poster='./assets/videoMoto/poster.avif'
    loop
    muted
    autoplay></video>
  <aside class='titulo'>
    The only thought crossing your mind as you dismount your Ichiban will be the
    eagerness for your next thrilling ride
  </aside>
</section>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const titulo = document.querySelector('.titulo');
    const videoMoto = document.querySelector('.videoMoto');

    const observer = new IntersectionObserver(
      ([entry], observer) => {
        if (entry.isIntersecting) {
          titulo.classList.add('to-up');
          observer.disconnect();
        }
      },
      { threshold: 0.8 }
    );

    observer.observe(videoMoto);
  });
</script>

<style>
  .videoMoto {
    background-color: orange;
    height: 100vh;
    position: relative;
    content-visibility: auto;

    &::before,
    &::after {
      content: '';
      position: absolute;

      background-image: linear-gradient(180deg, #d0d5dd00, #fff);
      height: 300px;
      left: 0;
      width: 100%;
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
      transform: scaleY(-1);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .titulo {
    position: absolute;
    top: 56%;
    text-wrap: balance;
    text-align: right;
    right: 10%;
    font-family: var(--h2-font);
    z-index: 50;
    width: 20%;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(100px);
    transition:
      opacity 3s ease,
      transform 3s ease;
    font-size: var(--space-s);

    &.to-up {
      transform: translateY(0);
      opacity: 1;
    }

    @media (width <= 1111px) {
      font-size: var(--space-xs);
      top: 10%;
      width: 50%;
    }
    @media (width <= 1111px) and (orientation: landscape) {
      top: 15%;
      width: 36%;
    }

    @media (width <= 550px) and (orientation: landscape) {
      font-size: var(--space-2xs);
    }

    @media (width >= 1900px) {
      font-size: var(--space-m);
    }
    @media (width >= 3000px) {
      font-size: var(--space-l);
    }
    @media (width >= 4500px) {
      font-size: var(--space-xl);
      right: 5%;
      width: 30%;
      top: 75%;
    }
  }
</style>
